<{includeq file='db:artikel_header.html'}>
<{if $artikel_log}>
<div id="artikel-log-container">
	<h1><{$artikel_log.log_item_id}></h1>
		<div><b><{$smarty.const._CO_ARTIKEL_LOG_LOG_IP}></b>: <{$artikel_log.log_ip}></div>
		<div><b><{$smarty.const._CO_ARTIKEL_LOG_LOG_UID}></b>: <{$artikel_log.log_uid}></div>
		<div><b><{$smarty.const._CO_ARTIKEL_LOG_LOG_DATE}></b>: <{$artikel_log.log_date}></div>
		<div><b><{$smarty.const._CO_ARTIKEL_LOG_LOG_ITEM}></b>: <{$artikel_log.log_item}></div>
		<div><b><{$smarty.const._CO_ARTIKEL_LOG_LOG_CASE}></b>: <{$artikel_log.log_case}></div>

</div>
<{/if}>
<{if $artikel_log_table}>
<h1><{$artikel_title}></h1>
<{$artikel_log_table}>
<{/if}>
<{includeq file='db:artikel_footer.html'}>