<{includeq file='db:artikel_header.html'}>
<{if $artikel_indexpage}>
<div id="artikel-indexpage-container">
	<h1><{$artikel_indexpage.index_header}></h1>
		<div><b><{$smarty.const._CO_ARTIKEL_INDEXPAGE_INDEX_HEADING}></b></div>
				<div><{$artikel_indexpage.index_heading}></div>
		<div><b><{$smarty.const._CO_ARTIKEL_INDEXPAGE_INDEX_FOOTER}></b></div>
				<div><{$artikel_indexpage.index_footer}></div>
		<div><b><{$smarty.const._CO_ARTIKEL_INDEXPAGE_INDEX_IMAGE}></b>: <{$artikel_indexpage.index_image}></div>
		<div><b><{$smarty.const._CO_ARTIKEL_INDEXPAGE_INDEX_IMAGE_UPL}></b>: <{$artikel_indexpage.index_image_upl}></div>

</div>
<{/if}>
<{if $artikel_indexpage_table}>
<h1><{$artikel_title}></h1>
<{$artikel_indexpage_table}>
<{/if}>
<{includeq file='db:artikel_footer.html'}>