<link href="<{$icms_url}>/modules/<{$dirname}>/module_album.css" rel="stylesheet" type="text/css" />

<{if $album_show_breadcrumb}>
	<!-- module breadcrumb -->
	<div class="album_headertable">
		<{if $album_module_home}><span class="album_modulename"><{$album_module_home}></span><{/if}>
		<{if $album_cat_path}>
			<span class="album_breadcrumb">
				<{if $album_module_home}>&nbsp;:&nbsp;<{/if}><{$album_cat_path}>
			</span>
		<{/if}>
	</div>
<{/if}>
<{if $album_index.image}>
	<{$album_index.image}>
<{/if}>
