<{includeq file='db:album_header.html'}>

<!-- display index header -->
<{$album_index.header}>
<!-- display index heading -->
<{$album_index.heading}>

	<div>
		<!-- pagination control -->
		<{if $album_pagenav }><{$album_pagenav}><{/if}>
		
		<div class="album_album">
			<!-- album rule -->
			<{foreach item=album from=$album_album}>
				
				<!-- Album image -->
				<span style="float: left; padding-right: 10px; vertical-align: top;">
					<a href="<{$album_url}>album.php?album_id=<{$album.id}>">
						<img src="<{$album.img}>" alt="" title="<{$album.title}>" />
					</a>
				</span>
				
				<!-- Album title -->
				<span style="float: left; font-size: 1.1em; font-weight: bold;">
					<{$album.itemLink}>&nbsp;&nbsp;
						<p class="album_album_info">
							(&nbsp;<{$smarty.const._MD_ALBUM_ALBUM_PUBLISHED_BY}>&nbsp;:&nbsp;<{$album.album_publisher}>&nbsp;|&nbsp;<{$smarty.const._MD_ALBUM_ALBUM_PUBLISHED_ON}>&nbsp;:&nbsp;<{$album.album_published_on}>&nbsp;)
						</p>
				</span>
<br /><br />
				<!-- Album description -->
				<div class="album_album_dsc">
					<{$album.album_dsc}>
				</div>

				<{if $album.hassub}>
					<div style="float: right; font-size: .8em; padding-right: 45px;">
						<ul>
						<{foreach item=sub from=$album.sub}>
							<li><{$sub.itemLink}></li>
						<{/foreach}>
						</ul>
					</div>	
				<{/if}>
	
				<div style="clear: both; height: 1px; border-bottom: 1px solid #D9D9D9; margin: 4px 5px 4px 0;">&nbsp;</div>
			<{/foreach}>
		</div>
	</div>
	
<{includeq file='db:album_footer.html'}>