<{includeq file='db:portfolio_header.html'}>

<!-- display index header -->
<{$portfolio_index.header}>

<!-- display portfolio columns -->
<{if $portfolio_columns}>
	<div class="portfolio_container">
		<{foreach item=row from=$portfolio_columns}>
			<div class="portfolio_row">
				<{foreach item=portfolio from=$row}>
					<div class="portfolio" original-title="<{$portfolio.title}>">
						<div class="portfolio_title">
							<{$portfolio.itemLink}><{if $portfolio.customer}>&nbsp;:&nbsp;<span class="portfolio_customer"><{$portfolio.customer}></span><{/if}>
						</div>
							<a href="<{$portfolio.index_img}>" title="<{$portfolio.title}>" class="portfolio_image" rel="lightbox">
								<{resized_image file=$portfolio.index_img width=$display_width height=$display_height fit="inside"}>
							</a>
					</div>
					<div class="popup">
						<{$portfolio.summary}>
					</div>
				<{/foreach}>
			</div>
		<{/foreach}>
	</div>
<{/if}>

<!-- display skills -->
<div class="portfolio_skilltable">
	<h2><{$smarty.const._MD_PORTFOLIO_MY_SKILLS}></h2>
	<{if $portfolio_index.skill_1}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_1.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_1.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_2}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_2.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_2.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_3}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_3.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_3.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_4}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_4.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_4.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_5}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_5.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_5.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_6}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_6.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_6.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_7}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_7.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_7.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_8}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_8.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_8.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_9}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_9.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_9.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
	<{if $portfolio_index.skill_10}>
		<div class="skillrow">
			<div class="portfolio_skillrow"><{$portfolio_index.skill_10.skill}></div>
			<div class="portfolio_skills skill_<{$portfolio_index.skill_10.value}>">&nbsp;</div>
		</div>
	<{/if}>
	<div class="portfolio_clear_both">&nbsp;</div>
</div>

<!-- display index heading -->
<{$portfolio_index.heading}>

<div class="portfolio_clear_right">&nbsp;</div>

<div id="portfolio_viewall">
	<p>
		<a href="<{$portfolio_url}>category.php" title="<{$smarty.const._MD_PORTFOLIO_VIEW_ALL}>"><{$smarty.const._MD_PORTFOLIO_VIEW_ALL}></a>
		&nbsp;<{$smarty.const._MD_PORTFOLIO_OR}>&nbsp;
		<span class="portfolio_contact">
			<a href="<{$contact_link}>" class="<{if $contact_perm_denied == TRUE}>perm_contact_link<{else}>contact_link<{/if}>" title="<{$smarty.const._MD_PORTFOLIO_CONTACT_ME}>"><{$smarty.const._MD_PORTFOLIO_CONTACT_ME}></a>
		</span>
	</p>
</div>

<{includeq file='db:portfolio_footer.html'}>