<{includeq file='db:portfolio_header.html'}>

<!-- display index header -->
<{$portfolio_index.header}>

<{if $portfolio_contact_table}>
	<{$portfolio_contact_table}>
<{/if}>

<{if $contact}>
	<div class="contact_title">
		<h1><{$contact.title}></h1>
	</div>
	<div class="contact_info">
		<span class="contact_submitter">
			<{$smarty.const._CO_PORTFOLIO_CONTACT_CONTACT_SUBMITTER}>&nbsp;:&nbsp;<{$contact.name}>&nbsp;(&nbsp;<{$contact.submitter}>&nbsp;)
		</span>
		<span class="contact_mail">
			<{$smarty.const._CO_PORTFOLIO_CONTACT_CONTACT_MAIL}>&nbsp;:&nbsp;<{$contact.mail}>
		</span>
		<span class="contact_phone">
			<{$smarty.const._CO_PORTFOLIO_CONTACT_CONTACT_PHONE}>&nbsp;:&nbsp;<{$contact.phone}>
		</span>
		<span class="contact_date">
			<{$smarty.const._CO_PORTFOLIO_CONTACT_CONTACT_DATE}>&nbsp;:&nbsp;<{$contact.date}>
		</span>
	</div>
	<div class="contact_message">
		<{$contact.body}>
	</div>
	
	<div class="contact_back">
		<input name="back" value="<{$smarty.const._BACK}>" onclick="location='contact.php'" type="button">
	</div>

<{/if}>

<{if $icmspersistable_delete_confirm}>
	<{$icmspersistable_delete_confirm}>
<{/if}>

<{includeq file='db:portfolio_footer.html'}>