
<link href="<{$guestbook_url}>module_guestbook.css" rel="stylesheet" type="text/css" />

<{if $guestbook_show_breadcrumb}>
	<!-- module breadcrumb -->
	<div class="guestbook_headertable">
		<{if $guestbook_module_home}>
			<span class="guestbook_modulename"><{$guestbook_module_home}></span>
		<{/if}>
		<{if $guestbook_category_path}>
			<span class="guestbook_breadcrumb"><{if $guestbook_module_home}>&gt;<{/if}><{$guestbook_category_path}></span>
		<{/if}>
	</div>
<{/if}>

<{if $guestbook_show_rss}> <!-- display rss fedd link -->
	<div class="guestbook_rss">
		<a href="<{$guestbook_url}>rss.php" title="RSS-Feeds">
			<img src="<{$guestbook_images_url}>rss.png" alt="RSS-Feeds" />
		</a>
	</div>
	<div class="guestbook_clear_both">&nbsp;</div>
<{else}>
	<div class="guestbook_clear_left">&nbsp;</div>
<{/if}>

<{$guestbook_index.image}>

<{$guestbook_index.header}>

<{$guestbook_index.heading}>

<{if $entries}>
	<div class="guestbook_submit">
		<span class="guestbook_link">
			<a class="<{if $link_class}>submit_link<{else}>register_link<{/if}>" id="add1" href="<{$submit_link}>"><{$smarty.const._MD_GUESTBOOK_ADD_ENTRY}></a>
		</span>
	</div>
	<div class="speech_bubble">
		<div class="guestbook_entries">
			<{if $pagenav}>
				<{$pagenav}>
			<{/if}>
			<div id="entries"></div>
			<{if $pagenav}>
				<{$pagenav}>
			<{/if}>
		</div>
	</div>
<{/if}>
<{if !$smarty.get.op == addreply}>
	<div class="guestbook_submit">
		<span class="guestbook_link">
			<a id="add2" class="<{if $link_class}>submit_link<{else}>register_link<{/if}>" href="<{$submit_link}>"><{$smarty.const._MD_GUESTBOOK_ADD_ENTRY}></a>
		</span>
	</div>
<{/if}>
<div class="ui-helper-hidden" id="guestbook_form">
	<{if $addentry}>
		<{includeq file='db:system_common_form.html' form=$addentry}>
		<div id="guestbook_error" style="display: none;">&nbsp;</div>
	<{/if}>
</div>

<div id="guestbook_message" style="display: none;">&nbsp;</div>

<div id="dialog-confirm-perm" title="<{$smarty.const._MD_GUESTBOOK_PERM}>" class="ui-helper-hidden" >
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$smarty.const._MD_GUESTBOOK_PERMISSION}></p>
</div>

<{if $guestbook_is_admin}>
	<div class="guestbook_adminlinks"><{$guestbook_adminpage}></div>
<{/if}>

<{$guestbook_index.footer}>

<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			url: "entries.php",
			dataType: "json",
			data: {
				start: "<{$smarty.get.start}>",
				limit: "<{$smarty.get.limit}>"
			},
			type: "POST",
			success: function(response) {
				$("#entries").html(response);
			}
		});
		$("#guestbook_form").dialog({
			title: "<span class='form_title' style='text-align: center;'><{$smarty.const._MD_GUESTBOOK_ADD}></span>",
			autoOpen: false,
			height: 375,
			width: "90%",
			modal: true,
			show: "clip",
			hide: "clip",
			buttons: {
				"<{$smarty.const._SUBMIT}>": function() {
					var dlg = $(this);
					$.ajax({
						url: $("#addentry").attr('action'),
						type: "POST",
						data: {guestbook_title: $("#guestbook_title").val(),
								guestbook_name: $("#guestbook_name").val(),
								guestbook_email: $("#guestbook_email").val(),
								guestbook_url: $("#guestbook_url").val(),
								guestbook_entry: $("#guestbook_entry").val(),
								guestbook_pid: $("#guestbook_pid").val(),
								icmscaptcha: $("#icmscaptcha").val(),
								op: $("#op").val()},
						dataType: "json",
						success: function(response) {
									if(response.status === "success") {
										dlg.dialog("close");
										$('#guestbook_message').html(response.message);
										$("#guestbook_title, #guestbook_name, #guestbook_email, #guestbook_url, #guestbook_entry, #icmscaptcha").val("");
										$("#guestbook_pid").val("0");
										$("#op").val("addentry");
										document.getElementById("addentry").reset();
										$('#guestbook_message').dialog('open');
									} else if(response.status === "error") {
										$("#guestbook_error").html("<{$smarty.const._MD_GUESTBOOK_FAILURE}>: " + response.message);
									}
						},
					});
				},
				"<{$smarty.const._CANCEL}>" : function() {
					document.getElementById("addentry").reset();
					$("#guestbook_title, #guestbook_name, #guestbook_email, #guestbook_url, #guestbook_entry, #icmscaptcha").val("");
					$("#guestbook_pid").val("0");
					$("#op").val("addentry");
					$(this).dialog("close");
				}
			},
			Cancel: function() {
				$(this).dialog( "close" );
				$("#guestbook_title, #guestbook_name, #guestbook_email, #guestbook_url, #guestbook_entry, #icmscaptcha").val("");
				$("#guestbook_pid").val("0");
				$("#op").val("addentry");
				document.getElementById("addentry").reset();
			}
		});
       
		$(".submit_link").click(function(e) {
			e.preventDefault();
			$("#guestbook_pid").val("0");
			$("#guestbook_form").dialog("open");
		});
		
		$(".reply_link").click(function(e) {
			var $link = $(this);
			e.preventDefault();
			$("#guestbook_pid").val($link.attr("original-id"));
			$("#guestbook_form").dialog("open");
		});
		
		$("#guestbook_message").dialog({
			autoOpen: false,
        	height: 200,
        	width: "90%",
        	modal: true,
        	show: "clip",
        	hide: "clip",
        	buttons: {
        		"OK": function() {
        			$.ajax({
        				url: "entries.php",
        				dataType: "json",
						data: {
							start: "<{$smarty.get.start}>",
							limit: "<{$smarty.get.limit}>"
        				},
        				type: "post",
        				success: function(response) {
        					$("#entries").html(response);
        				}
        			});
					$(this).dialog("close");
					//window.location.reload();
				}
        	}
		});
	});
</script>