<script type="text/javascript">
//<![CDATA[
SetSpeechBubble();
//]]>
</script>

<link href="<{$guestbook_url}>module_guestbook.css" rel="stylesheet" type="text/css" />

<{if $guestbook_show_breadcrumb}>
	<!-- module breadcrumb -->
	<div class="guestbook_headertable">
		<{if $guestbook_module_home}>
			<span class="guestbook_modulename"><{$guestbook_module_home}></span>
		<{/if}>
		<{if $guestbook_category_path}>
			<span class="guestbook_breadcrumb"><{if $guestbook_module_home}>&gt;<{/if}><{$guestbook_category_path}></span>
		<{/if}>
	</div>
<{/if}>

<{$guestbook_index.image}>

<{$guestbook_index.header}>

<{$guestbook_index.heading}>

<{if $entries}>
	<div class="guestbook_submit">
		<span class="guestbook_link">
			<a class="<{if $link_class}>submit_link<{else}>register_link<{/if}>" id="add1" href="<{$submit_link}>"><{$smarty.const._MD_GUESTBOOK_ADD_ENTRY}></a>
		</span>
	</div>
	<div class="speech_bubble">
		<div class="guestbook_entries">
			<{if $pagenav}>
				<{$pagenav}>
			<{/if}>
			<{foreach item=entry from=$entries}>
				<{includeq file="db:guestbook_singleentry.html"}>
				<{if $entry.reply && $guestbook_is_admin}>
						<div style="padding: 10px 0 25px 15px;">
							<a class="<{if $reply_link}>reply_link<{/if}>" href="<{$entry.reply}>"><{$smarty.const._MD_GUESTBOOK_REPLY}></a>
						</div>
				<{/if}>
				
				<{if $entry.hassub}>
					<div class="guestbook_replies">
						<{foreach item=entry from=$entry.sub}>
							<{includeq file="db:guestbook_singleentry.html"}>
						<{/foreach}>
					</div>
				<{/if}>
			
			<{/foreach}>
			<{if $pagenav}>
				<{$pagenav}>
			<{/if}>
		</div>
	</div>
<{/if}>
<{if !$smarty.get.op == addreply}>
	<div class="guestbook_submit">
		<span class="guestbook_link">
			<a id="add2" class="<{if $link_class}>submit_link<{else}>register_link<{/if}>" href="<{$submit_link}>"><{$smarty.const._MD_GUESTBOOK_ADD_ENTRY}></a>
		</span>
	</div>
<{/if}>
<div class="ui-helper-hidden guestbook_form">
	<{if $guestbook_form}>
		<{includeq file='db:system_common_form.html' form=$guestbook_form}>
	<{/if}>
</div>

<div id="dialog-confirm-perm" title="<{$smarty.const._MD_GUESTBOOK_PERM}>" class="ui-helper-hidden" >
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$smarty.const._MD_GUESTBOOK_PERMISSION}></p>
</div>

<{if $guestbook_is_admin}>
	<div class="guestbook_adminlinks"><{$guestbook_adminpage}></div>
<{/if}>

<{$guestbook_index.footer}>

<{if $guestbook_reply_form}>
	<{includeq file='db:system_common_form.html' form=$guestbook_reply_form}>
<{/if}>