<{includeq file='db:portfolio_header.html'}>

<{if $portfolio}>
	<div class="single_portfolio">
		<div class="portfolio_title">
			<h1><{$portfolio.title}><{if $portfolio.customer}>&nbsp;:&nbsp;<span class="portfolio_customer"><{$portfolio.customer}></span><{/if}></h1>
		</div>
		<div class="portfolio_scat_img">
			<a href="<{$portfolio.img}>" title="<{$portfolio.title}>" class="portfolio_image" rel="lightbox">
				<{resized_image file=$portfolio.img width=$display_width height=$display_height fit="inside"}>
			</a>
		</div>
		<div class="portfolio_dsc">
			<{$portfolio.dsc}>
		</div>
		<div class="portfolio_clear_both">&nbsp;</div>
		<{if $portfolio.album}>
			<h2><{$smarty.const._MD_PORTFOLIO_VIEW_MORE_IMAGES}></h2>
			<div class="portfolio_album">
				<div class="album_images_row">
					<{foreach item=images from=$album_images}>
						<div class="album_image">
							<a href="<{$images.img_url}>" class="portfolio_image" title="<{$images.title}>" rel="lightbox" alt="<{$images.dsc}>">
								<{resized_image file=$images.img_url width=$thumbnail_width height=$thumbnail_height fit="inside"}>
							</a>
						</div>
					<{/foreach}>
				</div>
			</div>
		<{/if}>
		
		<{if $portfolio.customer}>
			<h2><{$smarty.const._MD_PORTFOLIO_CUSTOMER}></h2>
			<p><{$portfolio.customer}></p>
		<{/if}>
		
		<{if $portfolio.demo}>
			<h2><{$smarty.const._MD_PORTFOLIO_VIEW_DEMO}></h2>
			<{$portfolio.demo}>
		<{/if}>
		
		<{if $portfolio.techniques}>
			<h2><{$smarty.const._MD_PORTFOLIO_USED_TECHNIQUES}></h2>
			<ul id="portfolio_techniques">
				<{foreach item=technique from=$portfolio.techniques}>
					<li><{$technique}></li>
				<{/foreach}>
			</ul>
		<{/if}>
	</div>
	<div class="social">
		<{if $portfolio_googleplus}>
			<{$portfolio_googleplus}>
		<{/if}>
		<{if $portfolio_facebook}>
			<{$portfolio_facebook}>
		<{/if}>
		<{if $portfolio_twitter}>
			<{$portfolio_twitter}>
		<{/if}>
	</div>

<{/if}>

<div id="portfolio_viewall">
	<p>
		<{$smarty.const._MD_PORTFOLIO_HIRE_ME}>
		<span class="portfolio_contact">
			<a href="<{$contact_link}>" class="<{if $contact_perm_denied == TRUE}>perm_contact_link<{else}>contact_link<{/if}>" title="<{$smarty.const._MD_PORTFOLIO_CONTACT_ME}>"><{$smarty.const._MD_PORTFOLIO_CONTACT_ME}></a>
		</span>
	</p>
</div>

<{includeq file='db:portfolio_footer.html'}>