
<{if $addcontact}>
	<div class="ui-helper-hidden portfolio_form" id="portfolio_form">
		<{includeq file='db:system_common_form.html' form=$addcontact}>
		<div id="form_error">&nbsp;</div>
	</div>
	<div id="form_message" style="display: none;">&nbsp;</div>
	<{includeq file='db:portfolio_contactform.html'}>
<{/if}>
<div id="dialog-confirm-perm" title="<{$smarty.const._MD_PORTFOLIO_CONTACT_PERM}>" class="ui-helper-hidden" >
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$smarty.const._MD_PORTFOLIO_CONTACT_PERMISSON}></p>
</div>

<!-- Index footer -->
<{$portfolio_index.footer}>

<!-- display admin link -->
<{if $portfolio_is_admin}>
	<div class="portfolio_adminlinks"><{$portfolio_adminpage}><{$portfolio_contacts}></div>
<{/if}>

<!-- comment loop -->
<{if $portfolio_portfolio_comment}>
 	<table id="comments_container" border="0" width="100%" cellspacing="1" cellpadding="0" align="center" >
   		<tr>
		    <td colspan="3" align ="<{$smarty.const._GLOBAL_LEFT}>">
		    	<div style="text-align: center; padding: 3px; margin:3px;"> <{$commentsnav}> <{$lang_notice}></div>
      		  	<div style="margin:3px; padding: 3px;">
			        <!-- start comments loop -->
			        <{if $comment_mode == "flat"}>
			        	<{include file="db:system_comments_flat.html"}>
			        <{elseif $comment_mode == "thread"}>
			        	<{include file="db:system_comments_thread.html"}>
			        <{elseif $comment_mode == "nest"}>
			        	<{include file="db:system_comments_nest.html"}>
			        <{/if}>
			        <!-- end comments loop -->
		      	</div>
			</td>
   		</tr>
  </table>
<{/if}>