<!-- File title -->
<div class="article_cat_title">
	<h3><a href="<{$article.itemURL}>" title="<{$article.title}>"><{$article.title}></a>
	<{if $article.article_is_updated}>
		<img class="article_icon_middle" src="<{$article.article_is_updated}>" title="<{$smarty.const._MD_ARTICLE_UPDATED}>" />
	<{elseif $article.article_is_new}>
		<img class="article_icon_middle" src="<{$article.article_is_new}>" title="<{$smarty.const._MD_ARTICLE_NEW}>" />
	<{/if}>
	<{if $article.article_popular}>
		<img class="article_icon_middle" src="<{$article.article_popular}>" title="<{$smarty.const._MD_ARTICLE_POPULAR}>" />
	<{/if}>
	<{if $article.userCanEditAndDelete}>
		<{$article.editItemLink}><{$article.deleteItemLink}>
	<{/if}>
	</h3>
	<div>
		<div class="article_category_info">
			<{foreach item=user from=$article.avatar name=user}><span><{$user.publisher}></span><{if !$smarty.foreach.user.last}>, <{/if}><{/foreach}>&nbsp;|&nbsp;<{$article.published_on}>&nbsp;|&nbsp;
			<{$article_article.counter}>&nbsp;<{$smarty.const._MD_ARTICLE_READS}>&nbsp;|&nbsp;<{$article_article.comments}>&nbsp;<{$smarty.const._MD_ARTICLE_COMMENTS}>
		</div>
	</div>
	<div class="article_clear_both">&nbsp;</div>
</div>
<!-- File description -->
<div class="article_cat_dsc">
	<!-- File image -->
	<{if $article.image}>
		<a class="article_screens" href="<{$article.image}>" title="<{$article.title}>">
			<img src="<{$article.thumb}>" alt="<{$article.title}>" />
		</a>
	<{/if}>
	<span class="article_cat_teaser">
		<{if $article.teaser}>
			<{$article.teaser}>
		<{else}>
			<{$smarty.const._MD_ARTICLE_NO_TEASER_TEXT}>
		<{/if}>
	</span>
</div>
<div class="box">
	<a href="<{$article.itemURL}>" class="btn article" title="<{$smarty.const._MD_ARTICLE_READ_MORE}>" ><{$smarty.const._MD_ARTICLE_READ_MORE}><span class="helper"></span></a><span class="helper"></span>
</div>
<div style="clear: both; height: 1px; border-bottom: 1px solid #D9D9D9; margin: 4px 5px 4px 0;">&nbsp;</div>