<{if $newsticker_articles}><!-- display newsticker -->
	<ul id="articles_newsticker">
		<{foreach item=newsticker from=$newsticker_articles}>
			<li><span><{$newsticker.published_on}></span><{$newsticker.itemLink}></li>
		<{/foreach}>
	</ul>
	
	<script type="text/javascript">// use newsticker
		$(document).ready(function(){
			$("ul#articles_newsticker").liScroll({travelocity: 0.10});
		});
	</script>
<{/if}>
<!-- Index footer -->
<{$index_index.footer}>

<!-- display admin link -->
<{if $article_is_admin}>
	<div class="article_adminlinks"><{$article_adminpage}></div>
<{/if}>

<!-- comment loop -->
<{if $article_article_comment}>
 	<table id="comments_container" border="0" width="100%" cellspacing="1" cellpadding="0" align="center" >
   		<tr>
		    <td colspan="3" align ="<{$smarty.const._GLOBAL_LEFT}>">
		    	<div style="text-align: center; padding: 3px; margin:3px;"> <{$commentsnav}> <{$lang_notice}></div>
      		  	<div style="margin:3px; padding: 3px;">
			        <!-- start comments loop -->
			        <{if $comment_mode == "flat"}>
			        	<{include file="db:system_comments_flat.html"}>
			        <{elseif $comment_mode == "thread"}>
			        	<{include file="db:system_comments_thread.html"}>
			        <{elseif $comment_mode == "nest"}>
			        	<{include file="db:system_comments_nest.html"}>
			        <{/if}>
			        <!-- end comments loop -->
		      	</div>
			</td>
   		</tr>
  </table>
<{/if}>

<!-- include notifications -->
<{includeq file='db:system_notification_select.html'}>