<div class="artikel_headertable">
	<{if $artikel_module_home}>
	<span class="artikel_modulename"><{$artikel_module_home}></span>
	<{/if}>
	<{if $artikel_category_path}>
	<span class="artikel_breadcrumb"><{if $artikel_module_home}>&gt;<{/if}><{$artikel_category_path}></span>
	<{/if}>
</div>

<div id="artikel_submit" style="clear: both;"><{if $artikel_showSubmitLink && $artikel_userCanSubmit}><a href="<{$artikel_url}>post.php?op=mod"><{$smarty.const._MI_ARTIKEL_POST_ADD}></a><{/if}></div>