<{includeq file='db:career_header.html'}>
<{if $departments}>
	<!-- display index header -->
	<{$career_index.header}>
	<!-- display index heading -->
	<{$career_index.heading}>
	<div class="career_departments">
		<{foreach item=department from=$departments}>
			<div class="career_department">
				
				<div class="department_logo">
					<a href="<{$department.itemURL}>" title="<{$department.title}>">
						<img alt="<{$department.title}>" src="<{$department.logo}>" />
					</a>
				</div>
				
				<div class="department_title">
					<h3><a href="<{$department.itemURL}>" title="<{$department.title}>"><{$department.title}></a></h3>
				</div>
				
				<div class="department_summary">
					<{$department.summary}>
				</div>
			</div>
		
		<{/foreach}>
	</div>

<{/if}>

<{if $single_department}>

	<div class="sdepartment_title">
		<h3><{$single_department.title}></h3>
	</div>
	
	<div class="sdepartment_description">
		<{$single_department.dsc}>
	</div>
	
	<div class="department_informations">				
		<div class="vcard">
			<title><{$smarty.const._MD_CAREER_VCARD}></title>
			<div class="organization-name"><{$career_company_name}></div>
			<div class="organization-unit extended-address"><{$single_department.title}></div>
			<span class="fn n">
				<span class="family-name"><{$single_department.leader}></span>
			</span>
			
			<span class="adr">
				<span class="street-address"><{$single_department.address}></span>
				<span class="postal-code"><{$single_department.zip}></span>
				<span class="locality"><{$single_department.city}></span>
				<abbr title="<{$single_department.county}>" class="region"><{$single_department.county}></abbr>
			</span>
			<div class="tel"><{$single_department.phone}></div>
			<div class="fax"><{$single_department.fax}></div>
			
			<a class="email" href="mailto:<{$single_department.mail}>">
				<{$single_department.mail}>
			</a>
			<a class="fn org url" href="<{$icms_url}>"><{$icms_sitename}></a>
			
		</div>
	</div>

	<div class="career_list">
		<h2><{$smarty.const._MD_CAREER_CAREERLIST}></h2>
		<{if $careers}>
			<div class="department_careers">
				<{foreach item=career from=$careers}>
					<div class="department_career">
						<div class="department_logo">
							<a href="<{$career.itemURL}>" title="<{$career.title}>">
								<img alt="<{$career.title}>" src="<{$single_department.logo}>" />
							</a>
						</div>
						
						<div class="department_title">
							<h3><a href="<{$career.itemURL}>" title="<{$career.title}>"><{$career.title}></a></h3>
						</div>
					
						<div class="department_summary">
							<{$career.summary}>
						</div>
					</div>
				<{/foreach}>
			</div>
		<{else}>
	
			<span class="career_no_careers">
				<{$smarty.const._MD_CAREER_NO_CAREERS}>
			</span>
		<{/if}>
	</div>
<{/if}>
<{includeq file='db:career_footer.html'}>