<{includeq file='db:career_header.html'}>

<!-- display index header -->
<{$career_index.header}>
<!-- display index heading -->
<{$career_index.heading}>

<{if $career_message_table}>
	<{$career_message_table}>
<{/if}>

<{if $message}>
	<div class="message_title">
		<h1><{$message.title}></h1>
	</div>
	<div class="message_info">
		<span class="message_submitter">
			<{$smarty.const._CO_CAREER_MESSAGE_MESSAGE_SUBMITTER}>&nbsp;:&nbsp;<{$message.name}>&nbsp;(&nbsp;<{$message.submitter}>&nbsp;)
		</span>
		<span class="message_mail">
			<{$smarty.const._CO_CAREER_MESSAGE_MESSAGE_MAIL}>&nbsp;:&nbsp;<{$message.mail}>
		</span>
		<span class="message_phone">
			<{$smarty.const._CO_CAREER_MESSAGE_MESSAGE_PHONE}>&nbsp;:&nbsp;<{$message.phone}>
		</span>
		<span class="message_date">
			<{$smarty.const._CO_CAREER_MESSAGE_MESSAGE_DATE}>&nbsp;:&nbsp;<{$message.date}>
		</span>
		<span class="message_career">
			<{$smarty.const._CO_CAREER_MESSAGE_MESSAGE_CID}>&nbsp;:&nbsp;<{$message.career}>
		</span>
		<span class="message_department">
			<{$smarty.const._CO_CAREER_MESSAGE_MESSAGE_DID}>&nbsp;:&nbsp;<{$message.department}>
		</span>
		<span class="message_file">
			<{$smarty.const._CO_CAREER_MESSAGE_MESSAGE_FILE}>&nbsp;:&nbsp;<{$message.file}>
		</span>
	</div>
	<div class="message_message">
		<{$message.message}>
	</div>

<{/if}>

<{if $icmspersistable_delete_confirm}>
	<{$icmspersistable_delete_confirm}>
<{/if}>

<{includeq file='db:career_footer.html'}>