<link href="<{$career_url}>module_career.css" rel="stylesheet" type="text/css" />

<{if $career_show_breadcrumb}>
	<!-- module breadcrumb -->
	<div class="career_headertable">
		<{if $career_module_home}><span class="career_modulename"><{$career_module_home}></span><{/if}>
		<{if $career_cat_path}>
			<span class="career_breadcrumb">
				<{if $career_module_home}>&nbsp;:&nbsp;<{/if}><{$career_cat_path}>
			</span>
		<{/if}>
	</div>
<{/if}>

<{if $career_show_rss}>
	<div class="career_rss">
		<a href="<{$career_url}>rss.php" title="RSS-Feeds">
			<img src="<{$career_images_url}>rss.png" alt="RSS-Feeds" />
		</a>
	</div>
	<div class="career_clear_both">&nbsp;</div>
<{else}>
	<div class="career_clear_left">&nbsp;</div>
<{/if}>

<{$career_index.image}>