<!-- admin career page -->
<{if $career_career_title}>
	<h1><{$career_career_title}></h1>
<{/if}>
<{if $career_career_info}>
	<p><{$career_career_info}></p>
<{/if}>
<{if $career_career_table}>
	<{$career_career_table}>
<{/if}>
<{if $addcareer}>
	<{includeq file='db:system_common_form.html' form=$addcareer}>
<{/if}>

<!-- admin department page -->
<{if $career_department_title}>
	<h1><{$career_department_title}></h1>
<{/if}>
<{if $career_department_info}>
	<p><{$career_department_info}></p>
<{/if}>
<{if $career_department_table}>
	<{$career_department_table}>
<{/if}>
<{if $adddepartment}>
	<{includeq file='db:system_common_form.html' form=$adddepartment}>
<{/if}>

<!-- admin index page -->
<{if $career_indexpage_title}>
	<h1><{$career_indexpage_title}></h1>
<{/if}>
<{if $career_indexpage_info}>
	<p><{$career_indexpage_info}></p>
<{/if}>
<{if $career_indexpage_table}>
	<{$career_indexpage_table}>
<{/if}>
<{if $addindexpage}>
	<{includeq file='db:system_common_form.html' form=$addindexpage}>
<{/if}>

<!-- admin message page -->
<{if $career_message_title}>
	<h1><{$career_message_title}></h1>
<{/if}>
<{if $career_message_info}>
	<p><{$career_message_info}></p>
<{/if}>
<{if $career_message_table}>
	<{$career_message_table}>
<{/if}>
<{if $addmessage}>
	<{includeq file='db:system_common_form.html' form=$addmessage}>
<{/if}>