/* Layout  */
#maincontent {float: left; width: 740px;}
	.eyecatcher{float:left; width:730px; padding:0 5px;}
	
#content{float:left; width:580px;}	
	.content{float:left; width:580px; padding:0 5px;}
	.topcenter{float:left;width:580px;padding:0 5px;}
	.buttonblock-center{float:left; width:580px; padding:0 5px;}
	
#leftcolumn{float:right; width:140px;}	
	.leftblocks{float:right; width:140px; padding:0 5px;}
	.buttonblock-left{float:right; width:140px; padding:0 5px;}
	
#rightcolumn{float:right; width:160px;}	
	.rightblocks{float:right; width:160px; padding:0 5px;}
	.topright{float:right; width:160px;padding:0 5px;}
	.buttonblock-right{float:right; width:160px;padding:0 5px;}

.icmsCode, .xoopsCode {
	 width:580px;
	}
#myGallery{
	width: 730px !important;
}