<{includeq file='db:event_header.html'}>
<{if $event}>
<div id="event-event-container">
	<h1><{$event.event_name}></h1>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CID}></b>: <{$event.event_cid}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_DSC}></b></div>
				<div><{$event.event_dsc}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CONTACT}></b>: <{$event.contact.contact}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CEMAIL}></b>: <{$event.event_cemail}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_URL}></b>: <{$event.event_url}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_PHONE}></b>: <{$event.event_phone}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_STREET}></b>: <{$event.event_street}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_ZIP}></b>: <{$event.event_zip}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CITY}></b>: <{$event.event_city}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_STARTDATE}></b>: <{$event.event_startdate}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_STARTTIME}></b>: <{$event.event_starttime}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_ENDDATE}></b>: <{$event.event_enddate}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_ENDTIME}></b>: <{$event.event_endtime}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_SUBMITTER}></b>: <{$event.event_submitter}></div>
		<div><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CREATED_ON}></b>: <{$event.event_created_on}></div>

</div>
<{/if}>
<{if $event_table}>
<h1><{$event_title}></h1>
<{$event_table}>
<{/if}>
<{includeq file='db:event_footer.html'}>