<link href="<{$icms_url}>/modules/<{$dirname}>/module_album.css" rel="stylesheet" type="text/css" />

<{if $album_show_breadcrumb}>
	<!-- module breadcrumb -->
	<div class="album_headertable">
		<{if $module_home}><span class="album_modulename"><{$module_home}></span><{/if}>
		<{if $album_cat_path}>
			<span class="album_breadcrumb">
				<{if $module_home}>&nbsp;:&nbsp;<{/if}><{$album_cat_path}>
			</span>
		<{/if}>
	</div>
<{/if}>
<div class="index_indeximage">
	<img src="<{$index_index.image}>" alt="indeximage" />
</div>