<{includeq file='db:album_header.html'}>
<{if $album_form}>
	<{includeq file='db:album_forms.html'}>
<{elseif $album_errors}>
	<{includeq file='db:system_error.html'}>
<{elseif $byLabels}>
	<{includeq file="db:album_label"}>
<{elseif $byPublisher}>
	<h2><{$smarty.const._MD_ALBUM_BY_PUBLISHER}>&nbsp;<{$publisher.uname}></h2>
	<{if $album_images}>
		<{if $imgnav}> <!-- page navigation -->
			<div class="images_pagenav"><{$imgnav}></div>
		<{/if}>
		<!-- image rows -->
		<div class="album_images">
			<{foreach item=image from=$album_images}>
				<div class="album_image">
					<{includeq file='db:album_images.html'}>
				</div>
			<{/foreach}>
		</div>
		<{if $imgnav}> <!-- page navigation -->
			<div class="images_pagenav"><{$imgnav}></div>
		<{/if}>
		<div class="userinfo">
			<{if $publisher.avatar}>
				<img rel="avatar" src="<{$publisher.avatar}>" title="<{$publisher.uname}>" alt="Avatar" />
			<{/if}>
			<{$publisher.uname}>
			<{if $publisher.attachsig}>
				<div class="usersig"><{$publisher.user_sig}></div>
			<{/if}>
		</div>
	<{/if}>
<{elseif $albums}> <!-- album index view -->
	<div>
		<!-- pagination control -->
		<{if $album_pagenav }><{$album_pagenav}><{/if}>
		<div class="album_row table_row">
			<!-- album rule -->
			<{foreach item=album from=$albums}><{includeq file='db:album_album.html'}><{/foreach}>
		</div>
		<!-- pagination control -->
		<{if $album_pagenav }><{$album_pagenav}><{/if}>
		<{if $user_submit}>
			<a class="<{if $album_upl_disclaimer}>upl_disclaimer<{/if}>" id="upl_1" href="<{$user_submit_link}>" title="<{$smarty.const._MD_ALBUM_SUBMIT_CAT}>">
				<img src="<{$album_images_url}>add_cat.png" title="<{$smarty.const._MD_ALBUM_SUBMIT_CAT}>" alt="<{$smarty.const._MD_ALBUM_SUBMIT_CAT}>" />
			</a>
		<{/if}>
	</div>
<!-- E N D album index -->
<{elseif $single_album}> <!-- display single album -->
	<{includeq file='db:album_salbum.html'}>
<{/if}>

<{if $album_upl_disclaimer}>
	<div id="dialog-confirm-upl-disclaimer" title="Upload Disclaimer" class="ui-helper-hidden">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$up_disclaimer}></p>
	</div>
<{/if}>
<{includeq file='db:album_footer.html'}>