<{includeq file='db:album_header.html'}>
<script type="text/javascript">
	document.write("<style type='text/css'>.hidden{display:none;}</style>");

	$(document).ready(function(){
		$.fn.colorbox.settings.bgOpacity = "0.9";
		$.fn.colorbox.settings.title = <{$album_images.img_title}>;
		$.colorbox({html:<{$album_images.img_description}>});
		$(".colorbox").colorbox({transition:"fade", fixedWidth:"<{$album_images.image_width}>",fixedHeight:"<{$album_images.image_height}>", initialWidth:"<{$album_images.image_width}>", initialHeight:"<{$album_images.image_height}>"});
	});
</script>
<{if $album_image_rows}>
	<div>
		<{foreach item=album_row from=$album_image_rows}>
			<div <{$album_row_margins}>>
				<{foreach item=album_images from=$album_row}>
					<div <{$album_images_margins}>>
						<a class="colorbox" href="<{$album_images.img_url}>" title="<{$album_images.img_title}>" >
							<img src="<{$album_images.img_url}>" width="<{$album_images.thumbnail_width}>" height="<{$album_images.thumbnail_height}>" title="<{$album_images.img_title}>" />
						</a>
					</div>	
				<{/foreach}>
			</div>
		<{/foreach}>
	</div>
	<{if $album_navbar}>
		<div><{$album_navbar}></div>
	<{/if}>
<{/if}>

<{includeq file='db:album_footer.html'}>