<{includeq file="db:icmspoll_header.html"}>

<!-- display poll list -->
<{if $polllist}>
	<{if $icmspoll_selectbox}>
		<{$icmspoll_selectbox}>
		<{if $icmspoll_selectbox_2}>
			<{$icmspoll_selectbox_2}>
		<{/if}>
	<{/if}>
	<{if $icmspoll_pagenav }><!-- pagination control -->
		<{$icmspoll_pagenav}>
	<{/if}>
	<div class="polls_container">
		<{foreach item=poll from=$polllist}>
			<{includeq file="db:icmspoll_polls.html"}>
		<{/foreach}>
	</div>
	<{if $icmspoll_pagenav }><!-- pagination control -->
		<{$icmspoll_pagenav}>
	<{/if}>
<{elseif $poll}>
	<{includeq file="db:icmspoll_singlepoll.html"}>
<{elseif $polls_expired}>
	<{if $icmspoll_pagenav }><!-- pagination control -->
		<{$icmspoll_pagenav}>
	<{/if}>
	<div class="polls_container">
		<{foreach item=poll from=$polls_expired}>
			<{includeq file="db:icmspoll_polls.html"}>
		<{/foreach}>
	</div>
	<{if $icmspoll_pagenav }><!-- pagination control -->
		<{$icmspoll_pagenav}>
	<{/if}>
<{elseif $polls_by_creator}>
	<{if $icmspoll_pagenav }><!-- pagination control -->
		<{$icmspoll_pagenav}>
	<{/if}>
	<div class="polls_container">
		<{foreach item=poll from=$polls_by_creator}>
			<{includeq file="db:icmspoll_polls.html"}>
		<{/foreach}>
	</div>
	<{if $icmspoll_pagenav }><!-- pagination control -->
		<{$icmspoll_pagenav}>
	<{/if}>
<{/if}>

<{includeq file="db:icmspoll_footer.html"}>