<{if $poll && !$poll.hasExpired && !$poll.hasVoted && $poll.hasStarted}>
	<div class="icmspoll_singlepoll">
		<div class="singlepoll_question">
			<{$poll.question}>
			<{if $poll.userCanEditAndDelete}>
				(<{$poll.editItemLink}>
				<{$poll.deleteItemLink}>)
			<{/if}>
		</div>
		<div class="singlepoll_description">
			<{$poll.dsc}>
		</div>
		
		<div class="icmspoll_morelink">
			<{$smarty.const._MD_ICMSPOLL_PUBLISHER}>&nbsp;:&nbsp;<{$poll.user}>
		    <span class="more_polls_by">(<{$poll.more_polls_by_user}>)</span>
		</div>
		<div class="singlepoll_form">
			<form class="icmspoll_pollform" action="<{$icmspoll_url}>submitpoll.php?op=vote&poll_id=<{$poll.id}>" method="post">
				    <div class="option_set">
    					<{foreach item=option from=$options name=options}>
    						<div class="icmspoll_option_<{$option.color}>">
    							<input class="icmspoll_option_<{$option.inputtype}>" type="<{$poll.inputtype}>" name="poll_option<{if $poll.isMultiple}>[]<{/if}>" value="<{$option.id}>" <{if $smarty.foreach.options.first}>checked<{/if}> />
    							<{$option.text}>
	    						<{if $option.userCanEditAndDelete}>
									<span class="options_buttonbar">
										(<{$option.editItemLink}>
										<{$option.deleteItemLink}>)
									</span>
								<{/if}>
								<{$poll.delimeter}>
							</div>
    					<{/foreach}>
    				</div>
				<{if $poll.hasVoted}>
					<div class="box">
						<input type="label" readonly size="50" class="btn icmspoll" value="<{$smarty.const._MD_ICMSPOLL_POLLS_ALREADYVOTED}>" />
					</div>
				<{elseif !$poll.hasVoted && $poll.voteAccessGranted}>
					<div class="box">
						<input type="submit" class="btn icmspoll" value="<{$smarty.const._MD_ICMSPOLL_POLLS_SUBMIT}>" /><span class="helper"></span>
					</div>
				<{else}>
				<{/if}>
			</form>
		</div>
	</div>
<{elseif $poll && $poll.hasExpired || $poll.hasVoted}>
	<div class="icmspoll_singlepoll">
		<div class="singlepoll_question">
			<{$poll.question}>
			<{if $poll.userCanEditAndDelete}>
				(<{$poll.editItemLink}>
				<{$poll.deleteItemLink}>)
			<{/if}>
		</div>
		<div class="singlepoll_description">
			<{$poll.dsc}>
		</div>
		
		<div class="icmspoll_morelink">
			<{$smarty.const._MD_ICMSPOLL_PUBLISHER}>&nbsp;:&nbsp;<{$poll.user}>
		    <span class="more_polls_by">(<{$poll.more_polls_by_user}>)</span>
		</div>
		
		<div class="singlepoll_form">
		    <div class="poll_result">
		    	<div class="icmspoll_result_options">
	    			<{foreach item=option from=$options name=options}>
	    				<div class="result_option">
	    				   <div class="icmspoll_option_<{$option.color}> icmspoll_option_color" style="width:<{$option.result}>" >
	    				       &nbsp;
	    				   </div>
	    				   <div class="option_result_value">
	    				   		<{$option.result}>
	    				   </div>
	                    </div>
	                    <div class="icmspoll_clear_left">&nbsp;</div>
	    				<div class="poll_option_txt">
	    					<{$option.text}>
	    				</div>
	    				<{$poll.delimeter}>
	    			<{/foreach}>
    			</div>
    		</div>
    		<div class="icmspoll_clear_left">&nbsp;</div>
			<{if $poll.hasVoted && !$poll.hasExpired}>
				<div class="box">
					<input type="text" readonly size="50" class="btn voted icmspoll_voted" value="<{$smarty.const._MD_ICMSPOLL_POLLS_ALREADYVOTED}>" />
				</div>
			<{/if}>
		</div>
	</div>
<{/if}>