<{if $poll && !$poll.hasExpired && $poll.hasStarted}>
	<div class="icmspoll_singlepoll">
		<div class="singlepoll_question">
			<{$poll.question}>
		</div>
		<div class="singlepoll_description">
			<{$poll.description}>
		</div>
		<div class="singlepoll_form">
			<form class="icmspoll_pollform" action="<{$icmspoll_url}>submitpoll.php?op=vote&poll_id=<{$poll.id}>" method="post">
				<fieldset>
					<{foreach item=option from=$options}>
						<div class="icmspoll_option_<{$option.color}>">
							<input class="icmspoll_option_<{$option.color}>" type="<{$poll.inputtype}>" name="poll_option" value="<{$option.id}>" />
							<{$option.text}>
							<{$poll.delimeter}>
						</div>
					<{/foreach}>
				</fieldset>
				<{if $poll.hasVoted}>
					<input type="label" readonly size="50" class="icmspoll_formButton" value="<{$smarty.const._MB_ICMSPOLL_POLLS_ALREADYVOTED}>" />
				<{else}>
					<input type="submit" class="icmspoll_formButton" value="<{$smarty.const._MD_ICMSPOLL_POLLS_SUBMIT}>" />
				<{/if}>
			</form>
		</div>
	</div>
<{elseif $poll && $poll.hasExpired == TRUE}>
	<div class="icmspoll_singlepoll">
		<div class="singlepoll_question">
			<{$poll.question}>
		</div>
		<div class="singlepoll_description">
			<{$poll.description}>
		</div>
		<div class="singlepoll_form">
			<{foreach item=option from=$options}>
				<div class="poll_option_set">
					<div class="result_option_<{$option.color}>">
					
					</div>
					<div class="poll_option_txt">
						<{$option.text}>
					</div>
					<{$poll.delimeter}>
				</div>
			<{/foreach}>
		</div>
	</div>

<{/if}>