<{includeq file='db:article_header.html'}>
<div class="article_content">
	<!-- article title -->
	<{if $article.image}>
		<div class="article_image">
			<a class="article_screen" href="<{$article.image}>" title="<{$article.title}>" rel="lightbox">
				<{resized_image file=$article.image width=$display_width height=$display_height fit="inside"}>
			</a>
		</div>
	<{/if}>
	<div class="article_title">
		<h1><{$article.title}>
		<{if $article.article_is_new}>
			<img style="vertical-align: middle;" class="icon_middle" src="<{$article.article_is_new}>" title="<{$smarty.const._MD_ARTICLE_NEW}>" />
		<{/if}>
		<{if $article.article_is_updated}>
			<img style="vertical-align: middle;" class="icon_middle" src="<{$article.article_is_updated}>" title="<{$smarty.const._MD_ARTICLE_UPDATED}>" />
		<{/if}>
		<{if $article.article_popular}>
			<img style="vertical-align: middle;" class="icon_middle" src="<{$article.article_popular}>" title="<{$smarty.const._MD_ARTICLE_POPULAR}>" />
		<{/if}></h1>
	</div>
	<div class="article_info">
		<p><{$smarty.const._MD_ARTICLE_PUBLISHER}>&nbsp;:&nbsp;<{$article.publisher}></p>
		<p><{$smarty.const._MD_ARTICLE_PUBLISHED_ON}>&nbsp;:&nbsp;<{$article.published_on}></p>
	</div>
	<!-- article categories -->
	<div class="article_categories">
		<{$smarty.const._MD_ARTICLE_CATS}>&nbsp;:&nbsp;<{$article.cats}>
	</div>
	
	<div class="article_clear_right">&nbsp;</div>

	<!-- article main content -->
	<div>
		<div id="article_body">
			<{foreach item=body from=$article.body_array name=body}>
				<div id="z<{counter}>" <{if $smarty.foreach.body.first}>class="_current"<{else}> style="display:none;"<{/if}>>
					<{$body}>
				</div>
			<{/foreach}>
			<div id="Paginate"><div id="articlez"></div></div>
		</div>
	</div>
	<div class="article_read_more">
		<h2><{$smarty.const._MD_ARTICLE_VIEW_MORE}></h2>
		<!-- article additional informations -->
		<p><{$smarty.const._MD_ARTICLE_SUBMITTER}>&nbsp;:&nbsp;<{$article.submitter}></p>
		<{if $article.updated_on}>
			<p><{$smarty.const._MD_ARTICLE_UPDATED_ON}>&nbsp;:&nbsp;<{$article.updated_on}></p>
		<{/if}>
		<{if $article.updater}>
			<p><{$smarty.const._MD_ARTICLE_UPDATER}>&nbsp;:&nbsp;<{$article.updater}></p>
		<{/if}>
		<h3><{$smarty.const._MD_ARTICLE_MORE_BY_PUBLISHER}></h3>	
		<{foreach item=user from=$article.bypublisher}>
			<div class="article_publisher">
				<div class="article_avatar">
					<img src="<{$user.avatar}>" alt="avatar" />
				</div>
				<div class="article_pub"><{$user.publisher}></div>
			</div>
		<{/foreach}>
		<div class="article_clear_left">&nbsp;</div>
		<!-- article tags -->
		<{if $sprockets_module && $article.tags}>
			<h3><{$smarty.const._MD_ARTICLE_TAGS}></h3>
			<div class="article_tags">
				<{foreach item=tag from=$article.tags}>
					<span class="article_tag" original-title="<{$tag.title}>">
						<{if $tag.icon}>
							<img width=16px height=16px src="<{$tag.icon}>" title="<{$tag.title}>" alt="<{$tag.title}>" />
						<{/if}>
						<a href="<{$tag.link}>" title="<{$tag.title}>">
							<{$tag.title}>
						</a>&nbsp;|&nbsp;
					</span>
					<{if $tag.dsc}>
						<span class="popup_tag"><{$tag.dsc}></span>
					<{/if}>
				<{/foreach}>
				<span class="article_tag">
					<a href="<{$tag_link}>" class="<{if $tag_perm_denied == TRUE}>perm_tag_link<{else}>tag_link<{/if}>" >
						<img style="vertical-align: middle;" src="<{$article_images_url}>add_tag.png" title="<{$smarty.const._MD_ARTICLE_TAG_ADD}>" alt="<{$smarty.const._MD_ARTICLE_TAG_ADD}>" />
					</a>
				</span>
			</div>
		<{/if}>
			
		<{if $article.related}>
			<h3><{$smarty.const._MD_ARTICLE_RELATED}></h3>
			<div class="article_related">
				<ul>
					<{$article.related}>
				</ul>
			</div>
		<{/if}>
	</div>
	
	<{if $article.file}>
		<div class="article_attachment">
			<h2><{$smarty.const._MD_ARTICLE_FILE}></h2>
			<p><{$article.file}>&nbsp;(&nbsp;<{$article.filesize}>&nbsp;|&nbsp;<{$article.filetype}>&nbsp;)</p>
			<{if $show_down_disclaimer}>
				<div id="dialog-confirm-disclaimer" title="Download Disclaimer" class="ui-helper-hidden">
					<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$down_disclaimer}></p>
				</div>
			<{/if}>
		</div>
	<{/if}>
	
	<{if $article.demo}>
		<div class="article_demo">
			<h2><{$smarty.const._MD_ARTICLE_DEMO_LINK}></h2>
			<a class="article_demo_link" href="<{$article.demo}>" title="<{$smarty.const._MD_ARTICLE_DEMO_LINK}>"><{$smarty.const._MD_ARTICLE_DEMO_LINK}></a>
		</div>
	<{/if}>
	<{if $article.conclusion}>
		<div class="article_conclusion">
			<h2><{$smarty.const._MD_ARTICLE_CONCLUSION}></h2>
			<{$article.conclusion}>
		</div>
	<{/if}>
	
	<!-- avatar -->
	<{foreach item=user from=$article.avatar}>
		<div class="article_publisher">
			<div class="article_avatar">
				<img src="<{$user.avatar}>" alt="avatar" />
			</div>
			<div class="article_pub"><{$user.publisher}></div>
		</div>
	<{/foreach}>
	<div class="article_clear_left">&nbsp;</div>
	
	<!-- article footer -->
	<div class="article_footer">
		
		<{if $article.file}>
			<div id="dialog-confirm-broken" title="<{$smarty.const._MD_ARTICLE_REPORT_BROKEN}>" class="ui-helper-hidden" >
				<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$smarty.const._MD_ARTICLE_SURE_BROKEN}></p>
			</div>
		
			<span class="article_broken">
				<a href="<{$broken_link}>" class="broken_link" ><{$smarty.const._MD_ARTICLE_REPORT_BROKEN}></a>
			</span>
			&nbsp;|&nbsp;
		<{/if}>
		<{if $sprockets_module}>
			<span class="article_tag">
				<a href="<{$tag_link}>" class="<{if $tag_perm_denied == TRUE}>perm_tag_link<{else}>tag_link<{/if}>" >
					<{$smarty.const._MD_ARTICLE_TAG_ADD}>
				</a>
			</span>
		<{/if}>
		&nbsp;
		<span class="article_button_bar">
			<a href="mailto:?subject=<{$smarty.const._MD_ARTICLE_MAILTO_SBJ}>&body=<{$smarty.const._MD_ARTICLE_MAILTO_BDY}>" title="<{$smarty.const._MD_ARTICLE_MAILTO}>">
				<img style="vertical-align: middle;" src="<{$article_images_url}>mail.png" alt="<{$smarty.const._MD_ARTICLE_MAILTO}>" title="<{$smarty.const._MD_ARTICLE_MAILTO}>" />
			</a>
			<a href="<{$article_url}>print.php?article_id=<{$article.id}>" title="<{$smarty.const._MD_ARTICLE_PRINT}>" target="_blank">
				<img style="vertical-align: middle;" src="<{$article_images_url}>print.png" alt="<{$smarty.const._MD_ARTICLE_PRINT}>" title="<{$smarty.const._MD_ARTICLE_PRINT}>" />
			</a>
			<a href="<{$article_url}>pdf.php?article_id=<{$article.id}>" title="<{$smarty.const._MD_ARTICLE_PDF}>" target="_blank">
				<img style="vertical-align: middle;" src="<{$article_images_url}>pdf.png" alt="<{$smarty.const._MD_ARTICLE_PDF}>" title="<{$smarty.const._MD_ARTICLE_PDF}>" />
			</a>
			<{if $article.userCanEditAndDelete}>
				<{$article.editItemLink}>
				<{$article.deleteItemLink}>
			<{/if}>
			
		</span>
		
		<{if $icms_isuser}>
			<div class="ui-helper-hidden tag_form">
				<{if $article_tag_form}>
					<{includeq file='db:system_common_form.html' form=$article_tag_form}>
				<{/if}>
			</div>
		<{/if}>
		
		<div id="dialog-confirm-perm-tag" title="<{$smarty.const._MD_ARTICLE_TAG_PERM}>" class="ui-helper-hidden" >
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$smarty.const._MD_ARTICLE_TAGS_PERM}></p>
		</div>
	</div>
	<div class="article_clear_right">&nbsp;</div>
	<div class="social">
			<{if $article_googleplus}>
				<{$article_googleplus}>
			<{/if}>
			<{if $article_facebook}>
				<{$article_facebook}>
			<{/if}>
			<{if $article_twitter}>
				<{$article_twitter}>
			<{/if}>
		</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#articlez").paginate({
			count					: <{$article.body_array|@count}>,
			start 					: 1,
			display 			    : 7,
			border					: true,
			border_color			: '#fff',
			text_color  			: '#fff',
			background_color    	: 'black',	
			border_hover_color		: '#ccc',
			text_hover_color  		: '#000',
			background_hover_color	: '#fff', 
			images					: true,
			mouse					: 'press',
			onChange     			: function(page){
										$('._current','#article_body').removeClass('_current').hide();
										$('div#z'+page).addClass('_current').show();
										$('a.article_screens').colorbox({rel:'lightbox'});
									  }
		});
	});
	$("a[rel='lightbox']").live(function(){
		var $link = $(this);
   		$link.colorbox();
	});

</script>

<{includeq file='db:article_footer.html'}>