<link href="<{$icms_url}>/modules/<{$dirname}>/module_icmspoll.css" rel="stylesheet" type="text/css" />

<{if $icmspoll_show_breadcrumb}>
	<!-- module breadcrumb -->
	<div class="icmspoll_headertable">
		<{if $icmspoll_module_home}><span class="icmspoll_modulename"><{$icmspoll_module_home}></span><{/if}>
		<{if $poll || $icmspoll_cat_path}>
			<span class="icmspoll_breadcrumb">
				<{if $icmspoll_cat_path}>&nbsp;:&nbsp;<{$icmspoll_cat_path}><{/if}><{if $poll}>&nbsp;:&nbsp;&raquo;<{$poll.question}>&laquo;<{/if}>
			</span>
		<{/if}>
	</div>
<{/if}>

<{if $icmspoll_show_rss}> <!-- display rss feed link -->
	<div class="icmspoll_rss">
		<a href="<{$icmspoll_url}>rss.php" title="RSS-Feeds">
			<img src="<{$icmspoll_images_url}>rss.png" alt="RSS-Feeds" />
		</a>
	</div>
	<div class="icmspoll_clear_both">&nbsp;</div>
<{else}>
	<div class="icmspoll_clear_left">&nbsp;</div>
<{/if}>

<!-- display indeximage -->
<{if $icmspoll_index.image}>
	<{$icmspoll_index.image}>
<{/if}>