<!-- scripts for initializing and cofiguring the calendar -->
<script type='text/javascript' src='<{$event_script_url}>fullcalendar.min.js'></script>
<{if $calendars}>
<script type='text/javascript' src='<{$event_script_url}>gcal.js'></script>
<{/if}>
<script type='text/javascript' src='<{$event_script_url}>jquery.qtip.min.js'></script>
<script type='text/javascript'>
	$(document).ready(function() {
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var lastView;
		var isResizingEvent = false;
		var calendar = $('#calendar').fullCalendar({
			defaultView: '<{$default_view}>',
			aspectRatio: 1.35,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			slotMinutes: <{$agenda_slot}>,
            firstHour: <{$agenda_start}>,
			axisFormat: 'HH:mm',
			timeFormat: {
			    agenda: 'HH:mm'
			},
			dragOpacity: {
			    agenda: .5
			},
			minTime: <{$agenda_min}>,
			maxTime: <{$agenda_max}>,
			dayNumberClickable: true,
			dayClick: function(date, allDay, jsEvent, view) {
				if(view.name != 'month')
					return;
				lastView = view.name;
    			$('#calendar').fullCalendar('changeView', 'agendaDay')
    				.fullCalendar('gotoDate', date);
			},
			eventClick: function(event, jsEvent, view) {
				startDate = $.fullCalendar.formatDate(event.start, 'HH:mm');
				endDate = $.fullCalendar.formatDate(event.end, 'HH:mm');
				if(event.editable == true) {
					var buttons = "<span class='event_buttonbar'><img id='event_delete' src='<{$event_images_url}>delete.png' alt='delete' /><img id='event_edit' src='<{$event_images_url}>edit.png' alt='edit' /></span>";
				} else {
					var buttons = "";
				}
				$("div#cal_event").dialog("open");
				$("div#cal_event").dialog({
					title: buttons + event.title,
					buttons: [
						{
							text: "<{$smarty.const._CLOSE}>",
							click: function() {$(this).dialog("close");}
						}
					]
				});
				//$("div#event_name").text(event.title);
				$("div#show_event_dsc").html(event.description);
				$("span#show_event_startdate").text(startDate);
				$("span#show_event_enddate").text(endDate);
				$("div#show_event_contact").html(event.contact);
				$("div#show_event_street").html(event.street);
				$("span#show_event_zip").text(event.zip);
				$("span#show_event_city").text(event.city);
				$("div#show_event_cid").text(event.cat);
				$("div#show_event_url").html(event.urllink);
				$("div#show_awaiting_approval").html(event.approval);
				
				$('#event_delete').click(function(){
					var button = $(this);
					if (!confirm("<{$smarty.const._MD_EVENT_SURE_DELETE}>")) {
						return false;
					} else {
						$.ajax({
							url: "<{$event_url}>submit.php?op=del",
							type: "POST",
							data: { event_id: event.id},
							dataType: "json",
							success: function(response) {
										if(response.status === "success") {
											$("div#cal_event").dialog("destroy");
											$('#calendar').fullCalendar('refetchEvents');
											$("#error_messages").text(response.message);
											
										} else if(response.status === "error") {
											$("#error_messages").text("<{$smarty.const._MD_EVENT_FAILURE}>: " + response.message);
											return false;
										} else {
											$("#error_messages").text("<{$smarty.const._MD_EVENT_FAILUREWENTWRONG}>: " + response.message);
											return false;
										}
							}
						});
					}
				});
				
				$('#event_edit').click(function(){
					var button = $(this);
					start = $.fullCalendar.formatDate( event.start, "MMMM dd, yyyy h:mm:ss tt");
					end = $.fullCalendar.formatDate( event.end, "MMMM dd, yyyy h:mm:ss tt");
					$("#event_id").val(event.id);
					$("#event_name").val(event.title);
					$("#event_startdate").val(Date.parse(start) /1000);
					$("#event_enddate").val(Date.parse(end) / 1000);
					$("#event_allday").val(event.allDay);
					$("#event_cid").val(event.cid);
					$("#event_dsc_tarea").val(event.description);
					$("#event_contact").val(event.contact_name);
					$("#event_cemail").val(event.event_mail);
					$("#event_phone").val(event.phone);
					$("#event_street").val(event.street);
					$("#event_city").val(event.city);
					$("#event_zip").val(event.zip);
					$("#'input:radio[name=event_public]:checked'").val(event.event_public);
					$("#mid_event_url").val(event.url_mid);
					$("#caption_event_url").val(event.url_cap);
					$("#desc_event_url").val(event.url_dsc);
					$("#url_event_url").val(event.url_url);
					$("#target_event_url").val(event.url_tar);
					$("div#cal_event").dialog("close");
					$("#submit_form").dialog("open");
				});
				
			},
			isRTL: <{$event_rtl}>,
			firstDay: <{$first_day}>,
			weekends: <{$display_weekend}>,
			monthNames: ['<{$smarty.const._CO_EVENT_JANUARY}>','<{$smarty.const._CO_EVENT_FEBRUARY}>','<{$smarty.const._CO_EVENT_MARCH}>','<{$smarty.const._CO_EVENT_APRIL}>','<{$smarty.const._CO_EVENT_MAY}>',
							'<{$smarty.const._CO_EVENT_JUNE}>','<{$smarty.const._CO_EVENT_JULY}>','<{$smarty.const._CO_EVENT_AUGUST}>','<{$smarty.const._CO_EVENT_SEPTEMBER}>','<{$smarty.const._CO_EVENT_OCTOBER}>',
							'<{$smarty.const._CO_EVENT_NOVEMBER}>','<{$smarty.const._CO_EVENT_DECEMBER}>'],
			monthNamesShort: ['<{$smarty.const._CO_EVENT_JAN}>','<{$smarty.const._CO_EVENT_FEB}>','<{$smarty.const._CO_EVENT_MAR}>','<{$smarty.const._CO_EVENT_APR}>','<{$smarty.const._CO_EVENT_MAI}>','<{$smarty.const._CO_EVENT_JUN}>',
								 '<{$smarty.const._CO_EVENT_JUL}>','<{$smarty.const._CO_EVENT_AUG}>','<{$smarty.const._CO_EVENT_SEP}>','<{$smarty.const._CO_EVENT_OCT}>','<{$smarty.const._CO_EVENT_NOV}>','<{$smarty.const._CO_EVENT_DEC}>'],
			dayNames: ['<{$smarty.const._CO_EVENT_SUNDAY}>','<{$smarty.const._CO_EVENT_MONDAY}>','<{$smarty.const._CO_EVENT_TUESDAY}>','<{$smarty.const._CO_EVENT_WEDNESDAY}>','<{$smarty.const._CO_EVENT_THURSDAY}>',
							 '<{$smarty.const._CO_EVENT_FRIDAY}>','<{$smarty.const._CO_EVENT_SATURDAY}>'],
			dayNamesShort: ['<{$smarty.const._CO_EVENT_SU}>','<{$smarty.const._CO_EVENT_MO}>','<{$smarty.const._CO_EVENT_TU}>','<{$smarty.const._CO_EVENT_WE}>','<{$smarty.const._CO_EVENT_TH}>',
								'<{$smarty.const._CO_EVENT_FR}>','<{$smarty.const._CO_EVENT_SA}>'],
			buttonText: {
				prev: '&nbsp;&#9668;&nbsp;',
				next: '&nbsp;&#9658;&nbsp;',
				prevYear: '&nbsp;&lt;&lt;&nbsp;',
				nextYear: '&nbsp;&gt;&gt;&nbsp;',
				today: '<{$smarty.const._CO_EVENT_TODAY}>',
				month: '<{$smarty.const._CO_EVENT_MONTH}>',
				week: '<{$smarty.const._CO_EVENT_WEEK}>',
				day: '<{$smarty.const._CO_EVENT_DAY}>'
			},
			// time formats
			titleFormat: {
				month: '<{$default_header_m}>',
				week: "<{$default_header_w}>",
				day: '<{$default_header_d}>'
			},
			columnFormat: {
				month: '<{$default_column_m}>',
				week: '<{$default_column_w}>',
				day: '<{$default_column_d}>'
			},
			timeFormat:{
				agenda: '<{$default_time_a}>',
				'': '<{$default_time}>'
			},
			allDayText: '<{$smarty.const._CO_EVENT_ALLDAY}>',
			theme: <{$use_theme}>,
			buttonIcons: {
				prev: 'circle-triangle-w',
				next: 'circle-triangle-e'
			},
			eventSources: [
				<{foreach item=cat from=$categories name=category}>
					{
						url: "<{$event_url}>feeds.php?cat=<{$cat.id}><{if $icms_userid}>&uid=<{$icms_userid}><{/if}>",
						className: 'event_cal_<{$cat.id}>',
						color: "<{$cat.color}>",
						textColor: '<{$cat.txtcolor}>',
					}<{if !$smarty.foreach.category.last}>,<{/if}>
				<{/foreach}>
				<{if $categories && $calendars}>,<{/if}>
				<{if $calendars}>
					<{foreach item=cal from=$calendars name=calendar}>
					{
						url: "<{$cal.url}>",
						className: 'google_cal_<{$cal.id}>',
						color: "<{$cal.color}>",
						textColor: '<{$cal.txtcolor}>',
						currentTimezone: '<{$cal.default_tz}>'
					}<{if !$smarty.foreach.calendar.last}>,<{/if}>
					<{/foreach}>
				<{/if}>
			],
			ignoreTimezone: false,
			eventRender: function(event, element) {
        		element.qtip({    
		            content: {    
		                title: { text: event.title },
		                text: '<span class="start">Start: </span>' + ($.fullCalendar.formatDate(event.start, 'HH:mm')) + 
		                		'<br /><span class="End">End: </span>' + ($.fullCalendar.formatDate(event.end, 'HH:mm')) + 
		                		'<br /><span class="dsc">Description: </span>' + event.description +
		                		'<br />' + event.approval
					},
					show: { solo: true },
		            style: { 
		                width: 500,
		                padding: 5,
		                classes: 'ui-tooltip-light ui-tooltip-rounded ui-tooltip-shadow',
		                tip: 'topLeft',
						textAlign:'left',
						tip:'bottomLeft',
		                classes: 'ui-tooltip-light ui-tooltip-rounded ui-tooltip-shadow'
		            },
		            position: {
						target: 'mouse',
						my:'bottomLeft',
						adjust: {
							x: 0,  y: -5
						}
					}
		        });
    		},
    		<{if $cat_submit}>
	    		dropAccept: '*',
				selectable: true,
				selectHelper: true,
				editable: false,
				select: function(startDate, endDate, allDay) {
					var view = $('#calendar').fullCalendar('getView');
					if(view.name != "agendaWeek" && view.name != "agendaDay" )
						return;
					if(startDate < date) {
						alert('<{$smarty.const._CO_EVENT_CANNOT_BOOK_PAST}>');
						calendar.fullCalendar( 'unselect' );
					} else {
						if(lastView != 'month')
						var title = prompt('<{$smarty.const._MD_EVENT_TITLE}>');
						title = title;
						start = $.fullCalendar.formatDate( startDate, "MMMM dd, yyyy h:mm:ss tt");
						end = $.fullCalendar.formatDate( endDate, "MMMM dd, yyyy h:mm:ss tt");
						$("#event_startdate").val(Date.parse(start) /1000);
						$("#event_enddate").val(Date.parse(end) / 1000);
						$("#event_name").val(title);
						$("#event_allday").val(allDay);
						$("#event_id, #event_cid, #event_dsc_tarea, #event_contact, #event_cemail, #event_phone, #event_street, #event_city, #event_zip").val('');
						$("#mid_event_url, #caption_event_url, #desc_event_url, #url_event_url, #target_event_url").val('');
						if(title) $("#submit_form").dialog("open");
						lastView = view.name;
					} // end of else
					//calendar.fullCalendar('unselect');
				},
				eventResizeStart: function () { isResizingEvent = true; },
				eventResizeStop: function () { isResizingEvent = false; },
				eventResize: function( event, dayDelta, minuteDelta, revertFunc, jsEvent, view ) {
					if(view.name == "month") {
						revertFunc();
					}
					if (!confirm("<{$smarty.const._MD_EVENT_SURE_RESIZE}>")) {
						revertFunc();
					} else {
						$.ajax({
							url: "<{$event_url}>submit.php?op=resizeevent",
							type: "POST",
							data: { event_cid: event.cid, event_id: event.id, day_diff: dayDelta, min_diff: minuteDelta},
							dataType: "json",
							success: function(response) {
										if(response.status === "success") {
											$('#calendar').fullCalendar('refetchEvents');
											$("#error_messages").text(response.message);
										} else if(response.status === "error") {
											$("#error_messages").text("<{$smarty.const._MD_EVENT_FAILURE}>: " + response.message);
											revertFunc();
										}
							}
						});
					}
				},
				eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
					if (!confirm("<{$smarty.const._MD_EVENT_SURE_DROP}>")) {
						revertFunc();
					} else {
						$.ajax({
							url: "<{$event_url}>submit.php?op=dropevent",
							type: "POST",
							data: { event_cid: event.cid, event_id: event.id, day_diff: dayDelta, min_diff: minuteDelta, event_allday: allDay},
							dataType: "json",
							success: function(response) {
										if(response.status === "success") {
											$('#calendar').fullCalendar('refetchEvents');
											$("#error_messages").text(response.message);
										} else if(response.status === "error") {
											$("#error_messages").text("<{$smarty.const._MD_EVENT_FAILURE}>: " + response.message);
											revertFunc();
										} else {
											$("#error_messages").text("<{$smarty.const._MD_EVENT_FAILUREWENTWRONG}>: " + response.message);
											revertFunc();
										}
							}
						});
					}
				}
			<{else}>
				selectable: false,
				selectHelper: false,
				editable: false,
				select: function(startDate, endDate, allDay) {
					calendar.fullCalendar('unselect');
				}
			<{/if}>
		});
		
		<{if $gotoDate }>
			//var date = "<{$gotoDate}>";
			$('#calendar').fullCalendar('changeView', 'agendaDay')
    				.fullCalendar('gotoDate', <{$gotoDate}>);
    		//$('#calendar').fullCalendar('optionSet', 'firstHour', <{$start_hour}> );
    		
		<{/if}>
		
		$( "#submit_form" ).dialog({
			title: "<{$smarty.const._MD_EVENT_ADDEVENT}>",
        	autoOpen: false,
        	height: 700,
        	width: "90%",
        	modal: true,
        	buttons: {
	            "<{$smarty.const._MD_EVENT_CREATE_EVENT}>": function() {
	            	var dlg = $(this);
					$.ajax({
						url: $("#addevent").attr('action'),
						type: "POST",
						data: {event_id: $("#event_id").val(), event_name: $("#event_name").val(), event_startdate: $("#event_startdate").val(), event_enddate: $("#event_enddate").val(), event_allday: $("#event_allday").val(),
								event_cid: $("#event_cid").val(), event_dsc: $("#event_dsc_tarea").val(), event_contact: $("#event_contact").val(), event_cemail: $("#event_cemail").val(), 
								event_phone: $("#event_phone").val(), event_street: $("#event_street").val(), event_city: $("#event_city").val(), event_zip: $("#event_zip").val(),
								event_public: $('input:radio[name=event_public]:checked').val(), mid_event_url: $("#mid_event_url").val(), caption_event_url: $("#caption_event_url").val(), 
								desc_event_url: $("#desc_event_url").val(), url_event_url: $("#url_event_url").val(), target_event_url: $("#target_event_url").val() },
						dataType: "json",
						success: function(response) {
									if(response.status === "success") {
										dlg.dialog("close");
										$('#calendar').fullCalendar('refetchEvents');
										$('#form_message').dialog('open');
									} else if(response.status === "error") {
										$("#form_error").text("<{$smarty.const._MD_EVENT_FAILURE}>: " + response.message);
									}
						},
					});
				},
				"<{$smarty.const._CANCEL}>" : function() {
					$(this).dialog("close");
				}
			},
			Cancel: function() {
				$(this).dialog( "close" );
			}
       });
		$("#form_message").dialog({
			title: "<{$smarty.const._MD_EVENT_THANKS}>",
			autoOpen: false,
			modal: true,
			hide: "explode",
			show: "slide",
			resizable: false,
			width: 300,
			height: "auto",
			buttons: {
				Ok: function() {
					$(this).dialog( "close" );
				}
			}
		});
		
		$(window).resize(function() {
			if (isResizingEvent) { return; }
			var viewportHeight =  $(window).height()
			$('#calendar').fullCalendar('option', 'contentHeight',  $(window).height());
		});
		
		$("#cal_event").dialog({
			autoOpen: false,
			modal: true,
			hide: "clip",
			show: "clip",
			resizable: false,
			width: 800,
			height: "auto"
		});
		
	});
</script>