<div id="cal_event" class="ui-helper-hidden">
	<div id="show_event_dsc"></div>
	
	<div id="event_infos" class="event_table">
		<div class="event_row">
			<div class="event_cell"><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CID}></b>:&nbsp;</div><div id="show_event_cid" class="event_cell"></div>
		</div>
		
		<div class="event_row">
			<div class="event_cell"><b><{$smarty.const._MD_EVENT_FROMTO}></b>:&nbsp;</div>
				<div class="event_cell" id="event_date">
					<span id="show_event_startdate">&nbsp;</span> &nbsp;-&nbsp;<span id="show_event_enddate">&nbsp;</span>
				</div>
				<div class="event_cell" id="event_alldayevent">&nbsp;</div>
		</div>
		
		<div class="event_row">
			<div class="event_cell"><b><{$smarty.const._CO_EVENT_EVENT_EVENT_URL}></b>:&nbsp;</div>
				<div id="show_event_url" class="event_cell">&nbsp;</div>
		</div>
	</div>
	
	<div id="event_contact_info" class="event_table">
		<div class="event_row">
			<div class="event_cell"><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CONTACT}></b>:&nbsp;</div><div id="show_event_contact" class="event_cell"></div>
		</div>
		
		<div class="event_row">
			<div class="event_cell"><b><{$smarty.const._CO_EVENT_EVENT_EVENT_STREET}></b>:&nbsp;</div><div id="show_event_street" class="event_cell"></div>
		</div>
		<div class="event_row">
			<div class="event_cell"><b><{$smarty.const._CO_EVENT_EVENT_EVENT_CITY}></b>:&nbsp;</div>
				<div class="event_cell">
					<span id="show_event_zip">&nbsp;</span> &nbsp;<span id="show_event_city">&nbsp;</span>
				</div>
		</div>
		<div class="event_row">
			<div class="event_cell"><b><{$smarty.const._CO_EVENT_EVENT_EVENT_PHONE}></b>:&nbsp;</div><div id="show_event_phone" class="event_cell"></div>
		</div>
		<div id="event_join_info" class="event_joiner_infos">&nbsp;</div>
		<div id="event_joining" class="event_row">&nbsp;</div>
		<div id="joined_friends" class="event_row">&nbsp;</div>
		<{if $icms_isuser}>
			<div>
				<h3><{$smarty.const._MD_EVENT_JOINERS_LIST}></h3>
				<div id="joiners_list" class="event_row">&nbsp;</div>
			</div>
		<{/if}>
	</div>
	
	<div id="event_success" class="">&nbsp;</div>
	<div id="awaiting_approval" class="awaiting_approval">&nbsp;</div>
	
	<{if $can_comment}>
		<div id="event_commentform">
			<form id="event_comment_form" name="event_comment_form" action="#" data-id>
				<textarea id="event_comment_tarea" name="event_comment_tarea" placeholder="... Add your comment here ..."></textarea>
				<input type="submit" value="<{$smarty.const._SUBMIT}>" id="submit_comment" class="formButton" />
			</form>
		</div>
	<{/if}>
	<{if $use_comments}>
		<div id="event_comment_container">&nbsp;</div>
	<{/if}>
</div>