<div class="article_cat_frame table_cell">
	<div class="article_category" original-title="<{$category.title}>">
			<!-- category image -->
			<{if $category.img}>
				<a href="<{$category.seoURL}>" title="<{$category.title}>">
					<img class="article_cat_img" src="<{$category.img}>" alt="<{$category.title}>" title="<{$category.title}>" />
				</a>
			<{/if}>
			<!-- Category title -->
			<a href="<{$category.seoURL}>" title="<{$category.title}>"><{$category.title}></a>
		
											
		<div class="article_cat_icons">
			<{if $category.editAndDelete}>
				<{$category.editItemLink}><{$category.deleteItemLink}>
			<{/if}>
			<{if $category.submitAccess}>
				<a class="<{if $article_upl_disclaimer}>upl_disclaimer<{/if}>" id="upl_<{counter}>" href="<{$article_url}>article.php?op=mod&category_id=<{$category.id}>" title="<{$smarty.const._MD_ARTICLE_UPLOAD}>">
					<img class="icon_middle icon_small" src="<{$index_images_url}>add_file.png" title="<{$smarty.const._MD_ARTICLE_UPLOAD}>" alt="<{$smarty.const._MD_ARTICLE_UPLOAD}>" />
				</a>
			<{/if}>
			<{if $category.user_submit}>
				<a class="<{if $article_upl_disclaimer}>upl_disclaimer<{/if}>" id="upl_100" href="<{$index_url}>category.php?op=mod&category_pid=<{$category.id}>" title="<{$smarty.const._MD_ARTICLE_SUBMIT_CAT}>">
					<img class="icon_middle icon_small" src="<{$index_images_url}>add_cat.png" title="<{$smarty.const._MD_ARTICLE_SUBMIT_CAT}>" alt="<{$smarty.const._MD_ARTICLE_SUBMIT_CAT}>" />
				</a>
			<{/if}>
		</div>
	</div><!-- E N D .article_category -->
	<{if $category.dsc}>
		<div class="popup">
			<div class="article_cat_desc">
				<{$category.dsc}>
			</div>
		</div>
	<{/if}>
</div>