<div class="bubble">
	<div id="entry_{ENTRY_ID}" class="guestbook_entry">
		<!-- title -->
		<div class="block-title">{ENTRY_TITLE}</div>
		
		<div class="guestbook_row">
			<div class="guestbook_message">
				<span class="guestbook_message">
					{ENTRY_ENTRY}
				</span>
			</div> <!-- E N D .GUESTBOOK_message -->
			
				<div class="entry_info">
					{ENTRY_IP}
				</div> <!-- E N D .GUESTBOOK_info -->
			{ENTRY_MAIL}
			
			
				{ENTRY_IMG}
			</div> <!-- E N D .GUESTBOOK_image -->
		</div> <!-- E N D .GUESTBOOK_row -->
	</div> <!-- E N D .GUESTBOOK_entry -->
</div>
<p>
<span class="guestbook_avatar">
	<img src="{ENTRY_AVATAR}" width="32px" height="32px" alt="avatar" />
</span>
<strong>{ENTRY_NAME} | <a href="{ENTRY_URL}?&campaign=impresscms_guestbook" title="{ENTRY_URL}">{ENTRY_URL}</a> | {ENTRY_PDATE}</strong>
</p>