<script src="<{$guestbook_url}>/scripts/jquery.form.js" language="JavaScript"></script>
<link href="<{$guestbook_url}>module_guestbook.css" rel="stylesheet" type="text/css" />

<{if $guestbook_show_breadcrumb}>
	<!-- module breadcrumb -->
	<div class="guestbook_headertable">
		<{if $guestbook_module_home}>
			<span class="guestbook_modulename"><{$guestbook_module_home}></span>
		<{/if}>
		<{if $guestbook_category_path}>
			<span class="guestbook_breadcrumb"><{if $guestbook_module_home}>&gt;<{/if}><{$guestbook_category_path}></span>
		<{/if}>
	</div>
<{/if}>

<{if $guestbook_show_rss}> <!-- display rss fedd link -->
	<div class="guestbook_rss">
		<a href="<{$guestbook_url}>rss.php" title="RSS-Feeds">
			<img src="<{$guestbook_images_url}>rss.png" alt="RSS-Feeds" />
		</a>
	</div>
	<div class="guestbook_clear_both">&nbsp;</div>
<{else}>
	<div class="guestbook_clear_left">&nbsp;</div>
<{/if}>

<{$guestbook_index.image}>

<{$guestbook_index.header}>

<{$guestbook_index.heading}>


<div class="guestbook_submit">
	<span class="guestbook_link">
		<a class="<{if $link_class}>submit_link<{else}>register_link<{/if}>" id="add1" href="<{$submit_link}>"><{$smarty.const._MD_GUESTBOOK_ADD_ENTRY}></a>
	</span>
</div>
<div class="speech_bubble">
	<div class="guestbook_entries">
		<{if $pagenav}>
			<{$pagenav}>
		<{/if}>
		<div id="guestbook_loading">
			<img class="guestbook_loading" src="<{$guestbook_images_url}>loading.gif" alt="loading..." />
		</div>
		<div id="entries" class="ui-helper-hidden"></div>
		<{if $pagenav}>
			<{$pagenav}>
		<{/if}>
	</div>
</div>

<{if !$smarty.get.op == addreply}>
	<div class="guestbook_submit">
		<span class="guestbook_link">
			<a id="add2" class="<{if $link_class}>submit_link<{else}>register_link<{/if}>" href="<{$submit_link}>"><{$smarty.const._MD_GUESTBOOK_ADD_ENTRY}></a>
		</span>
	</div>
<{/if}>
<div class="ui-helper-hidden" id="guestbook_form">
	<{if $addentry}>
		<{includeq file='db:system_common_form.html' form=$addentry}>
		<div id="guestbook_error" style="display: none;">&nbsp;</div>
	<{/if}>
</div>

<div id="guestbook_message" style="display: none;">&nbsp;</div>

<div id="dialog-confirm-perm" title="<{$smarty.const._MD_GUESTBOOK_PERM}>" class="ui-helper-hidden" >
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$smarty.const._MD_GUESTBOOK_PERMISSION}></p>
</div>

<{if $guestbook_is_admin}>
	<div class="guestbook_adminlinks"><{$guestbook_adminpage}></div>
<{/if}>

<{$guestbook_index.footer}>

<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			url: "entries.php",
			dataType: "json",
			data: {
				start: "<{$smarty.get.start}>"
			},
			type: "POST",
			success: function(response) {
				$("#guestbook_loading").hide();
				$("#entries").html(response.entries);
				$("#entries").show();
			}
		});
		$("#guestbook_form").dialog({
			title: "<{$smarty.const._MD_GUESTBOOK_CREATE}>",
			autoOpen: false,
			height: 375,
			width: "90%",
			modal: true,
			show: "clip",
			hide: "clip",
			buttons: {
				"<{$smarty.const._SUBMIT}>": function() {
					var dlg = $(this);
					$("#guestbook_loading").show();
					$("#addentry").submit();
				},
				"<{$smarty.const._CANCEL}>" : function() {
					document.forms.addentry.reset();
					$("#guestbook_error").html("");
					$("#guestbook_error").hide();
					$("#guestbook_loading").hide();
					$(this).dialog("close");
				}
			},
			Cancel: function() {
				document.forms.addentry.reset();
				$("#guestbook_error").html("");
				$("#guestbook_error").hide();
				$("#guestbook_loading").hide();
				$(this).dialog( "close" );
			}
		});
       
		$(".submit_link").click(function(e) {
			e.preventDefault();
			$("#guestbook_pid").val(0);
			$("#guestbook_form").dialog("open");
		});
		
		$("body").delegate(".reply_link", "click", function(e) {
			e.preventDefault();
			var $id = $(this).attr("original-id");
			$("#guestbook_pid").val($id);
			$("#guestbook_form").dialog("open");
			return false;
		});
		
		$("body").delegate(".approve_link", "click", function(e) {
			e.preventDefault();
			
			var $id = $(this).attr("original-id");
			$.ajax({
				url: "submit.php",
				dataType: "json",
				data: {
					guestbook_id: $id,
					op: "approve"
				},
				type: "POST",
				success: function(response) {
					$("#guestbook_loading").show();
					loadEntries();
				}
			});
			return false;
		});
		
		$("#guestbook_message").dialog({
			autoOpen: false,
        	height: 200,
        	width: "90%",
        	modal: true,
        	show: "clip",
        	hide: "clip",
        	buttons: {
        		"OK": function() {
        			loadEntries();
					$(this).dialog("close");
				}
        	}
		});
		
		var options = {
			url: $("#addentry").attr('action'),
			type: "POST",
			dataType: "json",
			success: function(response) {
						if(response.status === "success") {
							$("#guestbook_form").dialog("close");
							$('#guestbook_message').html(response.message);
							document.forms.addentry.reset();
							$('#guestbook_message').dialog('open');
						} else if(response.status === "error") {
							$("#guestbook_error").html("<{$smarty.const._MD_GUESTBOOK_FAILURE}>: " + response.message);
							$("#guestbook_error").show();
						}
			},
		};
		
		$('#addentry').submit(function() {
			if(xoopsFormValidate_addentry())
			$(this).ajaxSubmit(options);
			return false;
		});
		
		$("body").delegate(".entry_img", "click", function(e) {
			e.preventDefault();
			$.colorbox({
				href: $(this).attr("href"),
				transition:'fade',
				speed:500,
				opacity: 0.9,
				slideshow: true,
				slideshowAuto: false
			});
		});
		
		function loadEntries() {
			$.ajax({
				url: "entries.php",
				dataType: "json",
				data: {
					start: "<{$smarty.get.start}>",
				},
				type: "post",
				success: function(response) {
					if(response.reload === true){
						window.location.reload();
					}
					$("#guestbook_loading").hide();
					$("#entries").html(response.entries);
				}
			});
		}
	});
</script>