<{if $block.show_view_all == 1}>
	<a href="<{$block.view_all}>" title="<{$smarty.const._MB_ARTICLE_VIEW_ALL}>"><{$smarty.const._MB_ARTICLE_VIEW_ALL}></a>
<{/if}>
<div class="article_list">
	<{foreach item=article_article from=$block.article_spotlight}>
		<div class="single_article">
			<{if $article_article.imgpath}>
				<div class="article_img">
					<a href="<{$article_article.itemURL}>" title="<{$article_article.title}>">
						<img class="article_b1_leadimage" src="<{$article_article.imgpath}>" width="<{$block.thumbnail_width}>" alt="<{$article_article.title}>" title="<{$article_article.title}>" />
					</a>
				</div>
			<{/if}>
			<div class="article_title">
				<a href="<{$article_article.itemURL}>" title="<{$article_article.article_title}>"><{$article_article.article_title}></a>
			</div>
			<div class="article_informations">
				 (<{$article_article.published_on}>&nbsp;|&nbsp;<{$article_article.publisher}>)
			</div>
			<div class="article_teaser">
				<{$article_article.teaser}>
			</div>
		</div>
	<{/foreach}>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.article_b1_leadimage').jScale({ls:'<{$block.thumbnail_width}>px'})
	})
</script>