<{if $block.show_view_all == 1}>
	<a href="<{$block.view_all}>" title="<{$smarty.const._MB_ARTICLE_VIEW_ALL}>"><{$smarty.const._MB_ARTICLE_VIEW_ALL}></a>
<{/if}>
<div class="article_list">
	<{foreach item=article_article from=$block.article_spotlight}>
		<div class="single_article">
			<{if $article_article.imgpath}>
				<div class="article_img">
					<a href="<{$article_article.itemURL}>" title="<{$article_article.title}>">
						<img class="article_galleryimage" src="<{$article_article.imgpath}>" width="<{$block.thumbnail_width}>" alt="<{$article_article.title}>" title="<{$article_article.title}>" />
					</a>
				</div>
			<{/if}>
			<{if $block.showteaser == 1}>
				<div class="article_teaser">
					<{$article_article.teaser}>
				</div>
			<{/if}>
		</div>
	<{/foreach}>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.article_galleryimage').jScale({ls:'<{$block.display_width}>px'})
})
</script>