<{includeq file='db:career_header.html'}>

<{if $career}>
	
	<div class="department_logo">
		<img alt="<{$department.title}>" src="<{$department.logo}>" />
	</div>
	
	<div class="career_title">
		<h1><{$career.title}></a></h1>
	</div>
	<div class="career_body">
		<!-- display department description -->
		<{$department.dsc}>
		<!-- display career description -->
		<{$career.dsc}>
		<div class="career_vcard">
			<div class="vcard">
				<div class="organization-name"><{$career_company_name}></div>
				<div class="organization-unit extended-address"><{$department.title}></div>
				<span class="fn n">
					<span class="family-name"><{$career.cname}>,&nbsp;<{$career.cpos}></span>
				</span>
				
				<a class="email" href="mailto:<{$single_department.mail}>">
					<{$career.mail}>
				</a>
				<a class="fn org url" href="<{$icms_url}>"><{$icms_sitename}></a>
				
				<span class="adr">
					<span class="street-address"><{$career.address}></span>
					<span class="postal-code"><{$career.zip}></span>
					<span class="locality"><{$career.city}></span>
					<abbr title="<{$single_department.county}>" class="region"><{$career.county}></abbr>
				</span>
				<div class="tel"><{$career.phone}></div>
				<div class="fax"><{$career.fax}></div>
			</div>
		</div>
	</div>
	<div class="career_footer">
		<span class="career_message">
			<a href="<{$message_link}>" class="<{if $message_perm_denied == TRUE}>perm_message_link<{else}>message_link<{/if}>" ><{$smarty.const._MD_CAREER_MESSAGE}></a>
		</span>
		
		<span class="career_button_bar">
			<a href="mailto:?subject=<{$smarty.const._MD_CAREER_MAILTO_SBJ}>&body=<{$smarty.const._MD_CAREER_MAILTO_BDY}>" title="<{$smarty.const._MD_CAREER_MAILTO}>">
				<img style="vertical-align: middle;" src="<{$career_images_url}>mail.png" alt="<{$smarty.const._MD_CAREER_MAILTO}>" title="<{$smarty.const._MD_CAREER_MAILTO}>" />
			</a>
			<a href="<{$career_url}>print.php?career_id=<{$career.id}>" title="<{$smarty.const._MD_CAREER_PRINT}>" target="_blank">
				<img style="vertical-align: middle;" src="<{$career_images_url}>print.png" alt="<{$smarty.const._MD_CAREER_PRINT}>" title="<{$smarty.const._MD_CAREER_PRINT}>" />
			</a>
			<a href="<{$career_url}>pdf.php?career_id=<{$career.id}>" title="<{$smarty.const._MD_CAREER_PDF}>" target="_blank">
				<img style="vertical-align: middle;" src="<{$career_images_url}>pdf.png" alt="<{$smarty.const._MD_CAREER_PDF}>" title="<{$smarty.const._MD_CAREER_PDF}>" />
			</a>
			
		</span>
		<div class="career_clear_right">&nbsp;</div>
		
		<{if $career_message_form}>
			<div class="ui-helper-hidden message_form">
				<{includeq file='db:system_common_form.html' form=$career_message_form}>
			</div>
		<{/if}>
		
		<div id="dialog-confirm-perm" title="<{$smarty.const._MD_CAREER_MESSAGE_PERM}>" class="ui-helper-hidden" >
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><{$smarty.const._MD_CAREER_MESSAGES_PERM}></p>
		</div>
		
	</div>
<{else}>
	<div class="career_notfound">
		<p><{$smarty.const._MD_CAREER_CAREER_NOT_FOUND}></p>
	</div>
<{/if}>

<{includeq file='db:career_footer.html'}>